
body {
  margin:0;
  font-family: 'Alata', sans-serif;
}
h1{
  font-weight: 100;
  font-size: 63px;
  font-family: 'Josefin Sans', sans-serif;
  width: 34%;
  margin:150px 0 320px 240px;
  border-width: 2px;
  border-color: white;
}
h4{
  color:white;
}
footer {
  background-color: black;
  color: white;
  padding-bottom: 70px;
}
a{
  color:white;
}
.copy{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.footer-p{
  display: inline-block;
  padding-left: 40px;
}
.footer-p1{
  display: inline-block;
  margin-left: 200px;
}


.top-row1{
  display: inline-block;
  margin-left: 220px;
}
.top-row{
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 30px;
}
.bottom-row{
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 30px;
}
.bottom-row1{
  display: inline-block;
  margin-left: 220px;
}
.bottom-h3{
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin: 200px 0 0 270px;
}
.middle-p{
  font-size: 14px;
  width: 85%;
  line-height: 1.5;
  padding-left: 90px;
  color: hsl(0, 0%, 55%);
}
.middle-h3{
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  padding-left: 90px;
  padding-top: 30px;
}
.middle-container{
  background-color: white;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 960px;
  right: 330px;
}
.top-container{
  color: white;
}
.big-img{
  position: absolute;
  width:100%;
  z-index:-1;
  height: 620px;
}
.bar-1{
  display: inline-block;
  padding-left: 30px;
}
.bar-2{
  display: inline-block;
  margin-left: 700px;
}
